@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    background: #111;
    color:#FFF;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.lists{
    margin-top: -150px;
}

footer{
    text-align: center;
    background: #141414;
    padding:30px;
    margin-top: 100px;
    color: rgb(133, 133, 133);
}

footer a{
    text-decoration: none;
    color: rgb(178, 178, 226);
}

.loading{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}